
  <div class="container-fluid p-0">
    <footer class="footer text text-center">
      <div class="container justify-content-center">
        <div class="container padding">
        <span class="text-muted">Please subscribe or find my contacts here.</span>
      </div>
        <div class="row text-center justify-content-center for-p">
          <div class="col-xs-4 col-sm-4 col-lg-4 w-100">
            <a href="https://www.instagram.com/chirkova_chocs/"><img src="/media/instagram_logo.png"></a>
            <p>Instagram</p>
          </div>
          <div class="col-xs-4 col-sm-4 col-lg-4 w-100">
            <a href="https://www.facebook.com/chocsbychirkova/"><img src="/media/facebook_logo.png"></a>
            <p>Facebook</p>
          </div>
          <div class="col-xs-4 col-sm-4 col-lg-4 w-100">
            <a href="tel://38-099-449-86-86"><img src="/media/phone_icon.png"></a>
            <p>+38 099 449-86-8</p>
          </div>
      </div>
    </div>
    </footer>
  </div>
